* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Times New Roman", Times, serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  .heading {
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #dcdcdc;
  }
  
  .logo {
    height: 50px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo img {
    width: 120px;
    height: 70px;
  }
  
  .search-box {
    width: 500px;
    background: transparent;
    position: relative;
    left: 60px;
  }
  
  .search-box form {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 15px;
    overflow: hidden;
  }
  
  .search-box input {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    flex: 1;
    padding: 20px;
    font-size: 20px;
  }
  
  .search-box input::placeholder {
    font-size: 20px;
    letter-spacing: 1px;
    align-items: center;
    margin: 0;
    color: #000;
  }
  
  .search-box button {
    border: none;
    width: 40px;
    background-color: white;
    cursor: pointer;
  }
  
  .search-box button img {
    height: 20px;
  }
  
  .favourite {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .favourite a {
    margin: 0px 15px;
  }
  
  .favourite a:nth-child(4) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .favourite a:nth-child(4) h4 {
    font-size: 18px;
    color: #000;
  }
  
  .favourite a img {
    width: 25px;
  }
  
  .sub-heading {
    background-color: #ebbcbc;
    padding: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    align-items: center;
  }
  .subtitle {
    list-style-type: none;
    display: flex;
  }
  .subtitle li {
    list-style-type: none;
  }
  
  .sub-heading .subtitle li a {
    text-decoration: none;
    margin: 0px 40px;
    color: #000;
    font-weight: 600;
    letter-spacing: 0.6px;
    position: relative;
    padding: 0 7px;
  }
  
  .sub-heading .subtitle li a:after {
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
  }
  
  .sub-heading .subtitle li a:hover:after {
    width: 100%;
  }
  
  .sub-heading .subtitle li a:hover {
    color: #000;
  }
  
  .sub-heading .subtitle li a:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sub-heading .subtitle li a:nth-child(1) h3 {
    transform: rotate(90deg);
    margin-left: 5px;
    font-weight: 1000;
  }
  
  .book-type {
    display: none;
    /* visibility: hidden; */
    position: absolute;
    background-color: #ebbcbc;
    top: 50px;
    width: 150px;
    left: 240px;
    align-items: flex-start;
    z-index: 15;
  }
  
  .book-type li {
    /* padding: 5px; */
    margin-bottom: 15px;
  }
  
  /* .sub-heading .subtitle li a:nth-child(1):hover .book-type{
      display: inline-block;
      visibility: visible;
      position: absolute;
      z-index: 25;
  } */

  .hamburger{
    position: relative;
    display: none;
    width: 33px;
    height: 10px;
    outline: none;
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    top: -14px;
  }

  .hamburger .bar, .hamburger:before, .hamburger:after{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #000;
    margin:6px 0 ;
    transition: 0.5s;
  }

  .hamburger.is-active:before{
    transform: rotate(-45deg) translate(-8px, 6px);
  }
  .hamburger.is-active:after{
    transform: rotate(45deg) translate(-9px, -8px);
  }
  .hamburger.is-active .bar{
    opacity: 0;
  }
  .product-section {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto auto;
}
  
  .hero {
    position: relative;
    top: 31px;
  }
  
  .background-img {
    height: 80vh;
    width: 100%;
    filter: brightness(0.8);
  }
  
  .background-img img {
    height: 100%;
    width: 100%;
  }
  
  .hero-intro {
    position: absolute;
    color: white;
    top: 100px;
    left: 90px;
  }
  
  .hero-intro h1 {
    font-size: 76px;
    margin-bottom: 20px;
    font-weight: 300;
  }
  
  .hero-intro h2 {
    font-size: 45px;
    font-weight: 100;
    margin-bottom: 60px;
  }
  
  .hero-intro a {
    text-decoration: none;
    border: 1px solid #fff;
    outline: 1px solid #fff;
    outline-offset: 9px;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    border-style: double;
    margin-left: 10px;
  }
  .hero .hero-intro a:hover {
    transform: scale(1.3);
  }
  
  .product-container {
    position: relative;
    margin: 20px;
  }
  
  .card-section {
    /* display: grid;
      align-items: center;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .card {
    flex: 1 0 150px;
  }
  
  .card {
    font-family: Lato, sans-serif;
    position: relative;
    width: 300px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }
  .card img {
    width: 100%;
    height: 100%;
  }
  
  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--product-color);
    /* clip-path: circle(150px at 80% 20%); */
    transition: 0.5s ease-in-out;
  }
  
  /* .card:hover:before {
      clip-path: circle(300px at 80% -20%);
  } */
  
  .title {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000;
    margin-top: 12px;
    font-size: 1.5rem;
    min-height: 60px;
  }
  
  .bg-title {
    font-size: 9em;
    font-weight: 900;
    font-style: italic;
    color: rgb(255, 255, 255);
    position: absolute;
    max-width: 120%;
    top: -150%;
    transition: 0.6s;
  }
  
  .card:hover .bg-title {
    font-size: 4em;
  
    transform: translateY(60%);
  }
  
  .photo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 100%;
    height: 220px;
    transition: 0.5s;
  }
  
  .card:hover .photo {
    top: 0%;
    transform: translateY(0%);
  }
  
  .photo img {
    position: absolute;
    width: 220px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    transition: 0.5s;
  }
  
  .card:hover .photo img {
    width: 260px;
    top: 56%;
  }
  
  .content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    text-align: center;
    transition: 0.6s;
    z-index: 5;
    /* background-color: rgba(107, 107, 5, 0.881); */
    background-color: #dcdcdc;
  }
  
  .card:hover .content {
    height: 220px;
  }
  
  .feature {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
  }
  
  .card:hover .feature {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.5s;
  }
  
  .feature div {
    color: #000000;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
  }
  
  .feature span {
    font-weight: 600;
    min-width: 20px;
    padding: 0 4px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 1rem;
    letter-spacing: 1px;
    display: inline-block;
    color: #000;
    /* background: #fff; */
    margin: 0 5px;
    transition: 0.4s;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-buy {
    display: inline-block;
    padding: 10px 20px;
    background: #fedada;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    cursor: pointer;
    outline: none;
  }
  
  .card:hover .btn-buy {
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s;
    transition-delay: 0.5s;
  }
  
  .card:hover .btn-buy:hover {
    background-color: rgba(220, 20, 60, 0.716);
    color: white;
    font-size: 16px;
  transition-delay: 0;
  transition: 0.05s;
  animation: pulseAnimation 2s infinite;
}
@keyframes pulseAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* .product-1 {
    --product-color: #5c5659a1;
  }
   */
.size span {
  cursor: pointer;
  z-index: 50;
}

/*rating section  */
.rating:not(:checked) > input {
  position: absolute;
  appearance: none;
}

.rating:not(:checked) > label {
  float: right;
  cursor: pointer;
  font-size: 30px;
  color: #807c7c62;
}

.rating:not(:checked) > label:before {
  content: "★";
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #e58e09;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ff9e0b;
}

.rating > input:checked ~ label {
  color: #ffa723;
}

/* rationg-1 */
.rating-1:not(:checked) > input {
  position: absolute;
  appearance: none;
}

.rating-1:not(:checked):not(:checked) > label {
  float: right;
  cursor: pointer;
  font-size: 30px;
  color: #f5ededc4;
}

.rating-1:not(:checked):not(:checked) > label:before {
  content: "★";
}

.rating-1 > input:checked + label:hover,
.rating-1 > input:checked + label:hover ~ label,
.rating-1 > input:checked ~ label:hover,
.rating-1 > input:checked ~ label:hover ~ label,
.rating-1 > label:hover ~ input:checked ~ label {
  color: #e58e09;
}

.rating-1:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ff9e0b;
}

.rating-1 > input:checked ~ label {
  color: #ffa723;
}

.featured-title {
  position: relative;
  font-size: 3rem;
  margin-left: 84px;
  color: #000000;
  margin-top: 180px;
  /* top: 100px; */
}

.product-section {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
  grid-template-columns: auto auto auto auto;
  margin-top: 20px;
}


.awardcontainer {
  padding-top: 180px;
}
.footer-section {
  margin-top: 40px;
}

.footer {
  background-color: #333333c4;
  color: #fff;
  padding: 30px;
  text-align: justify;
}
.footer .container {
  display: flex;
  flex-wrap: wrap;
}

.footer img {
  height: 100px;
  margin: 0px 50px;
  position: relative;
  top: -20px;
}

.footer p {
  max-width: 300px;
  line-height: 1.5;
}
.footer .col1 {
  margin-left: 200px;
}
.footer .col2 {
  padding: 0;
  margin: 0 auto;
}
.footer .col3 {
  margin-right: 200px;
}
.footer .social-icons {
  color: #fff;
  display: flex;
  flex-direction: row;
}
.nav ul {
  margin-top: 10px;
}
.nav ul,
.social-icons a {
  list-style: none;
  padding: 0;
}
.nav li,
.social-icons a {
  display: block;
  padding-bottom: 15px;
  margin: 0;
}

.social-icons a {
  font-size: 25px;
  padding: 0 20px;
}
.nav a,
.social-icons a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.nav a:hover,
.social-icons a:hover {
  color: #ccc;
}

.footer h4 {
  margin-top: 20px;
  color: #fff;
}

.footer label {
  display: block;
  margin-top: 10px;
  color: #ccc;
}

.footer input[type="email"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}
.footer .col3 p a {
  background: rgb(24, 24, 24);
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 7px 30px;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid rgb(129, 119, 121);
  display: inline-block;
  margin-top: 10px;
}

.footer .col3 p a:hover {
  background: rgb(54, 54, 54);
}
.footer .copyright {
  color: #d4d0d0;
  font-size: 16px;
  text-align: center;
  margin: 20px auto;
}
@media only screen and (max-width: 768px) {
  .nav li {
    display: inline-block;
  }
  .footer .col1 {
    margin-left: 10px;
  }
  .footer img {
    height: 50px;
    margin: 20px;
  }

  .footer p {
    max-width: 400px;
    line-height: 1.5;
  }
  .subtitle{
    display: none;
  }
  .sub-heading{
    display: flex;
    justify-content: end;
  }
  .hamburger{
    position: relative;
    right: 30px;
    display: block;
  }

  .mobile-menu{
    display: block;
    position: fixed;
    top: 130px;
    left: 100%;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #12002F;
    z-index: 10;
    text-align: center;
    transition: 0.5s;
  }
  .mobile-menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 130px;
  }
  .mobile-menu ul li{
    list-style-type: none;
    padding: 20px;
    margin: 40px 0;
    max-width: 400px;
    width: 100%;
    background-color: #2c0e5b;
    text-align: center;
    align-items: center;
  }
  .mobile-menu ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
  }
  .mobile-menu ul li a:hover{
    background-color: #2c0e5bbb;
  }
  .mobile-menu.is-active{
    left: 0;
  }
  .hero{
    position: relative;
    top: 100px;
  }
}

